@import "compass";

/* Variables */
$base-font-size: 16px;
$base-line-height: 24px;

/* General includes */
@include establish-baseline;

/* Header */
header{
  @include inline-list;
  margin-top: 1em;
  #branding{
    float: left;
  }

  #logo{
    padding: 0;
    a{
      float: left;
    }
  }

  nav{
    float: left;
    margin-bottom: 0 !important;
  }

  .block-content ul{
    margin: 0;
    padding: 0;
    li{
      a{
        line-height: 55px;
        padding: 0 15px;
      }
    }
  }
}